body {
    margin:0px auto;
    padding:0px;
    text-align:center;
    width:100%;
    background: #256579;
    font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
}

h4 {
    font-weight: lighter;
    color: #c89b3c;
    font-size: 20px;
}

h3 {
    padding: 10px;
    text-align: left;
}

.container-fluid {
    padding: 0;
}

/* Visualizations */
#explore-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title {
    font-size: 20px;
    fill: #c89b3c;
}

.scatter-plot-title {
    font-weight: lighter;
    color: #c89b3c;
}

.row {
    height: 100%;
}
  
.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #c89b3c;
    font-weight: lighter;
    font-size: 16px;
}

.buttons-container select {
    min-width: 150px;
    margin-right: 15px;
    margin-left: 10px;
}

#page1 {
    width: 100vw;
    padding: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#text-container {
    width: 65%;
    display: flex;
    flex-direction: column;

    text-align: left;
}

#text-container p {
    font-size: 16px;
    font-weight: lighter;
    margin-top: 20px;
}

#image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    align-items: flex-end;
}

#image-container img {
    margin: 20px;
}

.columns-data {
    width: 20%;
}

/* Navigation */

.navbar {
    background: #444;
    backface-visibility: hidden;
}

.navbar.navbar-no-bg {
    background: #444;
    background: rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #c89b3c;
    font-weight: 600;
    margin-left: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: #c89b3c;
    border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #c89b3c;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #c89b3c;
    outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-dark .navbar-brand {
    width: 136px;
    border: 0;
    margin-left: 10px;
    color: #c89b3c;
}

.page  {
    margin-bottom: 5rem;
    height: 80vh;
    padding: 2%;
    box-sizing: border-box;
    background-color: #256579;
    color: #c89b3c;
}

.page h1 {
    font-size:40px;
}

.page p {
    font-size:20px;
}

#start {
    height: 90vh !important;
}

#sideSelector {
    margin-bottom: 10px;
    margin-left: 10%;
}

#slider {
    margin-left: 10%;
}

.descriptions {
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
    padding-left: 20px;
}

.area-col {
    height: 100%;
}

.area-banrates {
    height: 50%;
}

.area-histogram {
    height: 50%;
}

.dotplot-row {
    height: 50%;
}

.kde-row {
    margin-top: 10px;
    height: 10%;
}

.kde-row-2 {
    height: 90%;
}

.conclusion {
    text-align: left;
    padding-left: 10%;
}

.source-link {
    color: #c89b3c;
}

.source-link:hover {
    color: #d8ab4c;
}